.p-aprobada, .p-rechazada, .p-pendiente, .p-disponible, .p-ocupado {
  background-color: #C8E6C9;
  color: #2E7D32;
  border-radius: 8px;
  padding: 4px 10%;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
  text-transform: uppercase; /* Esto pone el texto en MAYÚSCULAS */
}

/* Colores personalizados */
 .p-rechazada, .p-ocupado {
  background-color: #FFCDD2;
  color: #793434;
}

.p-pendiente {
  background-color: #FFF9C4;
  color: #c09317;
}

.p-aprobada {
  background-color: #C8E6C9;
  color: #2E7D32;
}
