.select-aprobada {
  background-color: #C8E6C9; /* Verde suave */
  border: 2px solid #81C784;
  color: #2E7D32;
}

.select-rechazada {
  background-color: #FFCDD2; /* Rojo suave */
  border: 2px solid #E57373;
  color: #C62828;
}

.select-pendiente {
  background-color: #FFF9C4; /* Amarillo suave */
  border: 2px solid #c5ba56;
  color: #ad8414;
}
